:root {
  --prime-text: 'Roboto', sans-serif;
  --secondary-text: 'Raleway', sans-serif;
  --main-color: #757575;
  --color-one: rgba(255, 255, 255, 0.6);
  --color-two: #212121;
  --color-three: #2196f3;
  --color-four: #f5f4fa;
  --color-fill-social-link: #afb1b8;
  --color-footer-soc-bg: rgba(255, 255, 255, 0.1);
  --background-main: #ffffff;
  --background-black: #2f303a;
  --img-overlay: rgba(47, 48, 58, 0.4);
  --color-fill-icon-clients: #afb1b8;
}

body {
  font-family: var(--prime-text);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

body ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid red; */
}

.header .container {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 25px;
}

.header-list {
  display: flex;
  padding-left: 0;
  margin-left: 93px;
}

.header-list li {
  margin-left: 50px;
}

.header-list li:first-child {
  margin-left: 0;
}

.container .logo {
  font-family: var(--secondary-text);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo .logo-web {
  color: var(--color-three);
  margin-bottom: 25px;
}

.header-link {
  font-weight: 500;
  line-height: 1.2px;
  letter-spacing: 0.02em;
  color: var(--color-two);
}

.header-list .current {
  color: var(--color-three);
}

.header-list :hover,
.header-list :focus {
  color: var(--color-three);
}

.mail,
.phone {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.mail-link {
  margin-left: 318px;
  fill: var(--main-color);
}

.phone-link {
  margin-left: 30px;
  fill: var(--main-color);
}

.mail:hover,
.mail:focus,
.phone:hover,
.phone:focus {
  fill: var(--color-three);
  color: var(--color-three);
}

.mail {
  display: flex;
  align-items: center;
}
.phone {
  display: flex;
  align-items: center;
}

.mail-icon {
  margin-right: 10px;
}

.phone-icon {
  margin-right: 10px;
}

.hero {
  background-image: url(../images/img-bgp.jpg);
  /* background-color: linear-gradient(right, var(--img-overlay) 50%, var(--img-overlay) 50%); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
  border-top: 1px solid #ececec;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-main);
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
}

.hero-button {
  margin: 30px auto 200px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--background-main);
  background-color: var(--color-three);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  padding: 10px 32px;
  cursor: pointer;
}

.benefits {
  display: none;
}

.benefits-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-left: 0;
  margin-bottom: 94px;
  /* outline: 1px solid red; */
}

.benefits-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--color-four);

  fill: var(--color-two);
}

.benefits {
  display: none;
}

.benefits-title {
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--color-two);
  margin-bottom: 10px;
}

.benefits-text {
  color: var(--main-color);
}

.our-activities-list {
  display: flex;
  gap: 30px;
  padding-left: 0;
  margin-bottom: 94px;
}

.our-activities-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--color-two);
  margin-bottom: 50px;
}

.team {
  background-color: var(--color-four);
}

.team-list {
  display: flex;
  gap: 30px;
  padding-left: 0;
  padding-bottom: 94px;
  background-color: var(--color-four);
}

.team-item {
  background-color: var(--background-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list img {
  margin-bottom: 30px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--color-two);
  margin-bottom: 50px;
  padding-top: 94px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--color-two);
  margin-bottom: 10px;
}

.team-speciality {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 30px;
}

.social-list {
  display: flex;
  gap: 10px;
  padding-left: 0;
  margin-bottom: 30px;
  margin-left: 32px;
  margin-right: 32px;
  justify-content: center;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--color-fill-social-link);
  cursor: pointer;
}

.social-item:hover,
.social-item:focus {
  background-color: var(--color-three);
  fill: var(--background-main);
}

.clients-tytle {
  margin-top: 94px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-two);
}
.clients-list {
  display: flex;
  gap: 30px;
  fill: var(--main-color);
  padding-left: 0;
  margin-bottom: 94px;
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--color-fill-icon-clients);
  border-radius: 4px;
  fill: var(--color-fill-icon-clients);
  cursor: pointer;
}

.clients-item:hover,
.clients-item:focus {
  fill: var(--color-three);
  border-color: var(--color-three);
}

.socials-list {
  display: flex;
  gap: 10px;
  padding-left: 0;
}

.footer {
  background-color: var(--background-black);
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-items {
  display: flex;
}

.footer .list {
  flex-direction: column;
  background-color: var(--background-black);
  padding-left: 0;
}

.footer .list li {
  margin-bottom: 9px;
  /* text-decoration: none; */
}

.footer .list li:last-child {
  margin-bottom: 0;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--background-main);
  text-decoration: none;
}

.footer-adress {
  font-style: normal;
  line-height: 1.7;
  color: var(--background-main);
}

.footer-adress:hover,
.footer-adress:focus {
  color: var(--color-three);
}

.footer-mail,
.footer-tel {
  font-style: normal;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--color-three);
}

.contaks {
  margin-right: 70px;
}

.header-socials-link {
  margin: 10px 0 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--background-main);
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color-footer-soc-bg);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--color-three);
}

.socials-icon-footer {
  fill: var(--background-main);
}
/* second page */

.works {
  background-color: var(--background-main);
}

.section .container {
  border-top: 1px solid #ececec;
}

.works-filters {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
  padding-left: 0;
  padding-top: 94px;
}

.works-item:hover,
.works-item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-title {
  display: none;
}

.works-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--color-two);
  background: var(--color-four);
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}

.works-item:hover,
.works-item:focus {
  color: var(--background-main);
  background-color: var(--color-three);
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 0;
  margin-bottom: 94px;
}

.works-list > li {
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid var(--color-bline-header);
}

.works-list > li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-list div {
  padding: 20px 24px;
}

.works-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-two);
  margin-bottom: 4px;
}

.works-list-text {
  color: var(--main-color);
}
